:root {
    --background: rgb(255, 255, 255);
    --foreground: #272727;
    --selected-color: rgba(205, 205, 205, 0.280);
    --outline: rgba(100, 100, 100, 0.495);
    --hover-selected-border: rgb(100, 100, 100);
    --item-hover: rgba(221, 221, 221, 0.570);
    --scrollbar-thumb: rgb(219, 219, 219);
    --scrollbar-track: rgba(0, 0, 0, 0);
    --backdrop: none;
    --shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.470);
}

.theme-modern-light {
    --background: linear-gradient(135deg, rgb(255, 255, 255),  rgb(223, 223, 223), rgb(255, 255, 255));
    --foreground: rgb(49, 49, 49);
    --selected-color: rgba(205, 205, 205, 0.280);
    --outline: rgba(100, 100, 100, 0.495);
    --hover-selected-border: rgb(100, 100, 100);
    --item-hover: rgba(221, 221, 221, 0.570);
    --scrollbar-thumb: rgb(219, 219, 219);
    --scrollbar-track: rgba(0, 0, 0, 0);
    --backdrop: none;
    --shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.470);
}

.theme-solid-dark {
    --background: rgb(30, 30, 30);
    --foreground: rgb(207, 207, 207);
    --selected-color: rgba(97, 97, 97, 0.2);
    --outline: rgba(255, 255, 255, 0.2);
    --hover-selected-border: rgb(120, 120, 120);
    --item-hover: rgba(97, 97, 97, 0.2);
    --scrollbar-thumb: rgba(65, 65, 65, 0.2);
    --scrollbar-track: rgba(0, 0, 0, 0);
    --backdrop: none;
    --shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.470);
}

.theme-modern-dark {
    --background: linear-gradient(135deg, rgb(30, 30, 30),  rgb(63, 63, 63), rgb(32, 32, 32));
    --foreground: rgb(207, 207, 207);
    --selected-color: rgba(97, 97, 97, 0.2);
    --outline: rgba(255, 255, 255, 0.2);
    --hover-selected-border: rgb(120, 120, 120);
    --item-hover: rgba(97, 97, 97, 0.2);
    --scrollbar-thumb: rgba(65, 65, 65, 0.2);
    --scrollbar-track: rgba(0, 0, 0, 0);
    --backdrop: none;
    --shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.470);
}

.theme-galaxy {
    --background: linear-gradient(135deg, rgb(16, 45, 172),  rgb(172, 32, 153), rgb(148, 7, 230));
    --foreground: rgb(207, 207, 207);
    --selected-color: rgba(93, 93, 173, 0.2);
    --outline: rgba(153, 50, 204, 0.568);
    --hover-selected-border: rgb(200, 176, 255);
    --item-hover: rgba(75, 0, 130, 0.2);
    --scrollbar-thumb: rgba(75, 0, 130, 0.3);
    --scrollbar-track: rgba(0, 0, 0, 0.1);
    --backdrop: none;
    --shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.470);
}

.theme-glass-light {
    --background: linear-gradient(135deg, rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.219)); 
    --foreground: rgb(26, 26, 26);
    --selected-color: rgba(255, 255, 255, 0.2);
    --outline: rgba(122, 122, 122, 0.486);
    --hover-selected-border: rgba(43, 43, 43, 0.521);
    --item-hover: rgba(255, 255, 255, 0.2);
    --scrollbar-thumb: rgba(94, 94, 94, 0.205);
    --scrollbar-track: rgba(0, 0, 0, 0.171);
    --backdrop: blur(10px);
    --shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.470);
}

.theme-glass-dark {
    --background: linear-gradient(135deg, rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.219)); 
    --foreground: rgb(207, 207, 207);
    --selected-color: rgba(255, 255, 255, 0.2);
    --outline: rgba(122, 122, 122, 0.486);
    --hover-selected-border: rgba(190, 190, 190, 0.521);
    --item-hover: rgba(255, 255, 255, 0.2);
    --scrollbar-thumb: rgba(94, 94, 94, 0.205);
    --scrollbar-track: rgba(0, 0, 0, 0.171);
    --backdrop: blur(10px);
    --shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.470);
}

.container {
    display: none;
    position: absolute;
    margin-top: 2px;
    background: var(--background);
    border-radius: 10px;
    border: 1px groove var(--outline);
    box-sizing: border-box;
    padding: 10px;
    z-index: 1;
    backdrop-filter: var(--backdrop);
    -webkit-backdrop-filter: var(--backdrop);
    box-shadow: var(--shadow);
    
}

.container.show {
    display: block;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
}

.dropdown-button {
    padding: 10px;
    font-size: small;
    text-align: center;
    cursor: pointer;
    background: var(--background);
    color: var(--foreground);
    border-radius: 5px;
    border: 1px solid var(--outline);
}

.dropdown-button:hover {
    border: 1px solid var(--hover-selected-border);
    color: var(--hover-selected-border);
}

.dropdown-menu {
    width: 100%;
    border-radius: 4px;
    margin-top: 2px;
    font-size: 0.8rem;
    font-weight: normal;
    overflow-y: auto;
    height: 240px;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.dropdown-menu::-webkit-scrollbar {
    width: 6px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 5px;
}

.dropdown-menu::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: 5px;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    color: var(--foreground);
    border-radius: 10px;
    margin-bottom: 2px;
}

.dropdown-item:hover {
    background: var(--item-hover);
}

.dropdown-item.selected {
    background: var(--selected-color);
    border: 1px solid var(--hover-selected-border);
}

.select-all {
    padding: 9px;
    cursor: pointer;
    font-size: small;
    background: var(--background);
    color: var(--foreground);
    border-radius: 5px;
    outline: 1px solid var(--outline);
}

.select-all:hover {
    outline: 1px solid var(--hover-selected-border);
}

.select-all.selected {
    outline: 1px solid var(--hover-selected-border);
}

.dropdown-search {
    border-radius: 5px;
    background: var(--background);
    color: var(--foreground);
    height: 35px;
    border: none;
    width: 100%;
    outline: 1px groove var(--outline);
    padding-inline: 8px;
}

.dropdown-search:focus {
    outline: 1px groove var(--hover-selected-border);
}

.dropdown-search::placeholder {
    color: var(--foreground);
}

.dropdown-arrow {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 8px; 
    transform: scaleX(2);
    padding-inline: 5px;
}

.dropdown-selected-values {
    display: inline-flex;
    justify-content: center;
    background: var(--item-hover);
    padding-inline: 5px;
    border-radius: 10px;
    min-width: 30px;
}